table {
  width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a.edit {
  color: #d9cd26;
}

a.edit i {
  margin-right: 10px;
}

.delete {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #e35e6b;
}

.paginator {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding-top: 5px;

  .icons,
  .text-area {
    margin: 5px;
  }

  .icons{
    button{
      background: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      i {
        color: #666;
      }

    }
  }

  .text-area {
    font-size: .8rem;
    color: #666;
  }
}
