.container {
  .sidenav {
    width: 210px;
    transition: all ease-in-out 500ms;
    background-color: var(--background-primary);
    
    a {
      color: #fff;
    }

    i {
      padding-right: 10px;
    }
  }
}

.content {
  padding: 16px;
  background-color: #fff;
}
