$themes: (
  light: (
    backgroundColor: #854fee,
    textColor: #0488e0,
    linearLogo: linear-gradient(to top, #854fee, #4458dc),
  ),
  dark: (
    backgroundColor: #5456d8,
    textColor: #ddd,
    linearLogo: linear-gradient(to top, #5456d8, #21e69a),
  ),
);
