@import "mixins";

.sidenav {
  @include themify() {
    transition: all ease-in-out 500ms;
    background-color: themed('backgroundColor');
  }
}

[buttom-theme],
.button-theme {
  @include themify() {
    background-color: themed('backgroundColor');
  }
  color: #fff;
}

#logo {
  @include themify() {
    background: themed('linearLogo');
  }
}
